.col-xs-12.no-padding
  .grid__container.grid__container--popular-2.super-cards
    .grid__item.grid__item--1
      .col-xs-12.super-card(style="background-image: url('//cdn1.ivivu.com/iVivu/2023/04/17/11/kl-cr.webp');")
        a(href="#")
          .col-xs-12.card-bg
            .info
              p.title Kuala Lumpur
    .grid__item.grid__item--2
      .col-xs-12.super-card(style="background-image: url('//cdn1.ivivu.com/iVivu/2023/07/11/18/cruise-terminal-banner-cr.webp');")
        a(href="#")
          .col-xs-12.card-bg
            .info
              p.title Singapore
    .grid__item.grid__item--3
      .col-xs-12.super-card(style="background-image: url('//cdn1.ivivu.com/iVivu/2023/11/03/18/us-bangkok-th-header-cr.jpg');")
        a(href="#")
          .col-xs-12.card-bg
            .info
              p.title Bangkok
    .grid__item.grid__item--4
      .col-xs-12.super-card(style="background-image: url('//cdn1.ivivu.com/iVivu/2023/07/11/18/photo-1624138784614-87fd1b6528f8-cr.webp');")
        a(href="#")
          .col-xs-12.card-bg
            .info
              p.title Sydney
    .grid__item.grid__item--5
      .col-xs-12.super-card(style="background-image: url('//cdn1.ivivu.com/iVivu/2023/02/13/17/maldives-cr.webp');")
        a(href="#")
          .col-xs-12.card-bg
            .info
              p.title Maldives